<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChapeauDatabase" connectionString="Data Source=den1.mssql8.gear.host;
         Persist Security Info=True;
         User ID=dbchapeau08;
         Password=Oe2w768_oK!m"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>